@model PMCSoft.Core.Models.Account.RoleModel
@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">Role Master</div>
    </div>
    <ol class="breadcrumb page-breadcrumb">
    </ol>
    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
<div class="page-content">
    <div class="card">
        <div class="card-header">
            Create Role
        </div>
        <div class="card-body">
            @using (Html.BeginForm("CreateRole", "User", FormMethod.Post, new { id = "rolefrm", role = "form", @class = "", novalidate = "novalidate", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.RoleId, new { @class = "ignore" })

                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            @Html.LabelFor(model => model.RoleName, new { @class = "control-label", @for = "inputName" })
                            <div class="Supplier">
                                @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control Name", maxlength = "50", @placeholder = "Please Enter " + Html.DisplayNameFor(n => n.RoleName) })

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 pt-3">
                        <button type="submit" class="btn btn-outline-primary btn-square">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Role List
        </div>
        <div class="card-body">
            @{Html.RenderAction("RoleList", "User");}
        </div>
    </div>
</div>
@section styles {


}
@section scripts {

    @Scripts.Render("~/Scripts/validate")
    @Scripts.Render("~/JavaScript/RightsMaster.js")

}
