@model PMCSoft.Core.Models.Account.RoleMenuModel
@{
    ViewBag.Title = "MapRoleMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">Create Role</div>
    </div>
    <ol class="breadcrumb page-breadcrumb">
    </ol>
    <div class="clearfix"></div>
</div>
<!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
<div class="page-content">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("MapRoleMenu", "User", FormMethod.Post, new { id = "rolefrm", role = "form", @class = "", novalidate = "novalidate", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.RoleId, new { @class = "ignore" })

                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            @Html.LabelFor(model => model.RoleId, new { @class = "control-label", @for = "inputName" })
                            <div class="Parent">

                                @Html.DropDownListFor(m => m.RoleId, new SelectList(Model.RoleList, "ItemId", "ItemName"), "- Please select a Role -", new { @class = "form-control", tabindex = 2 })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 pt-3">
                        <button type="submit" class="btn btn-outline-primary btn-square">Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 mb-3 li-colums-3">
                        <ul>
                            @foreach (var item in Model.NavList)
                            {
                                string chkId = "chk-Menu-" + item.MenuId;
                                <li>
                                    <div class="mb-3">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(c => item.IsChecked, new { @class = "form-check-input", @id = @chkId })
                                            <label class="form-check-label" for=@chkId>
                                                @item.MenuName
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-lg-12">
                    @Html.ActionLink("Back to Roles List", "Roles")
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/Content/Javascripts/Roles.js")

}
