@model IEnumerable<PMCSoft.Core.Models.Navigation.NavModel>

@{
    Layout = null;

}




<div class="card">
    <div class="card-header">Navigation List</div>
    <div class="card-body">
        <div id="no-more-tables">
            <table class="table table-bordered table-striped table-condensed cf">
                <thead class="cf">
                    <tr>
                        <th>


                           S.NO.

                        </th>
                        <th>Name</th>
                        <th>OrderNo</th>
                        <th>ParentId</th>
                        <th>Menu Type</th>
                        <th>Nav URL</th>
                        <th>@Html.DisplayName("Action")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-title="Id">
                                @item.MenuId
                            </td>
                            <td data-title="Name">
                                <i class="@item.MenuIcon"></i> &nbsp; @item.MenuName
                            </td>
                            <td data-title="OrderNo">
                                @item.OrderNo
                            </td>
                            <td data-title="Parent">
                                @item.ParentId
                            </td>
                            <td data-title="Type">
                                @Html.Label((item.IsAction ? "Accessible" : "Non-Accessible"), new { @class = (item.IsAction ? "label label-sm label-success" : "label label-sm label-warning") })
                            </td>
                            <td data-title="URL">
                                @item.NavigateURL
                            </td>
                            <td data-title="Action">
                                @Html.ActionLink("Edit", "EditMenu", new { MenuId = item.MenuId }, new { @class = "btn btn-default btn-xs" })
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
